In [4]:
import pandas as pd
import numpy as ny
data=pd.read_csv("Olympic_Swimming_Results_1912to2020.csv")

In [5]:
data.head()

,Location,Year,Distance (in meters),Stroke,Relay?,Gender,Team,Athlete,Results,Rank
0,Tokyo,2020,100m,Backstroke,0,Men,ROC,Evgeny Rylov,51.98,1
1,Tokyo,2020,100m,Backstroke,0,Men,ROC,Kliment Kolesnikov,52,2
2,Tokyo,2020,100m,Backstroke,0,Men,USA,Ryan Murphy,52.19,3
3,Tokyo,2020,100m,Backstroke,0,Men,ITA,Thomas Ceccon,52.3,4
4,Tokyo,2020,100m,Backstroke,0,Men,CHN,Jiayu Xu,52.51,4

In [6]:
data["Relay?"].unique()

array([0, 1], dtype=int64)

In [7]:
data["Stroke"].unique()

array(['Backstroke', 'Breaststroke', 'Butterfly', 'Freestyle',
       'Individual medley', 'Medley'], dtype=object)

In [8]:
new_d=data.replace({'Distance (in meters)':'[A-Za-z]'},'',regex=True)

In [9]:
new_d

,Location,Year,Distance (in meters),Stroke,Relay?,Gender,Team,Athlete,Results,Rank
0,Tokyo,2020,100,Backstroke,0,Men,ROC,Evgeny Rylov,51.98,1
1,Tokyo,2020,100,Backstroke,0,Men,ROC,Kliment Kolesnikov,52,2
2,Tokyo,2020,100,Backstroke,0,Men,USA,Ryan Murphy,52.19,3
3,Tokyo,2020,100,Backstroke,0,Men,ITA,Thomas Ceccon,52.3,4
4,Tokyo,2020,100,Backstroke,0,Men,CHN,Jiayu Xu,52.51,4
...,...,...,...,...,...,...,...,...,...,...
4354,Stockholm,1912,4100,Freestyle,1,Women,SWE,"Greta Carlsson, Vera Thulin, Sonja Johnsson, G...",NaN,5
4355,Stockholm,1912,4200,Freestyle,1,Men,AUS,"Malcolm Champion, Cecil Healy, Harold H. Hardw...",00:10:11.200000,1
4356,Stockholm,1912,4200,Freestyle,1,Men,USA,"Duke Paoa Kahanamoku, Harry J. Hebner, Perry M...",00:10:20.200000,2
4357,Stockholm,1912,4200,Freestyle,1,Men,GBR,"Thomas Sidney Battersby, Henry Taylor, John Ga...",00:10:28.600000,3
4358,Stockholm,1912,4200,Freestyle,1,Men,GER,"Georg Kunisch, Kurt Bretting, Oscar Schiele, M...",00:10:37.000000,4

In [10]:
new_d.dtypes

Location                object
Year                     int64
Distance (in meters)    object
Stroke                  object
Relay?                   int64
Gender                  object
Team                    object
Athlete                 object
Results                 object
Rank                     int64
dtype: object

In [11]:
backs=new_d[new_d.Stroke=='Backstroke']

In [12]:
data.dropna()

,Location,Year,Distance (in meters),Stroke,Relay?,Gender,Team,Athlete,Results,Rank
0,Tokyo,2020,100m,Backstroke,0,Men,ROC,Evgeny Rylov,51.98,1
1,Tokyo,2020,100m,Backstroke,0,Men,ROC,Kliment Kolesnikov,52,2
2,Tokyo,2020,100m,Backstroke,0,Men,USA,Ryan Murphy,52.19,3
3,Tokyo,2020,100m,Backstroke,0,Men,ITA,Thomas Ceccon,52.3,4
4,Tokyo,2020,100m,Backstroke,0,Men,CHN,Jiayu Xu,52.51,4
...,...,...,...,...,...,...,...,...,...,...
4353,Stockholm,1912,4x100,Freestyle,1,Women,AUT,"Margarete Adler, Bertha Zahourek, Josephine St...",00:06:17.000000,4
4355,Stockholm,1912,4x200,Freestyle,1,Men,AUS,"Malcolm Champion, Cecil Healy, Harold H. Hardw...",00:10:11.200000,1
4356,Stockholm,1912,4x200,Freestyle,1,Men,USA,"Duke Paoa Kahanamoku, Harry J. Hebner, Perry M...",00:10:20.200000,2
4357,Stockholm,1912,4x200,Freestyle,1,Men,GBR,"Thomas Sidney Battersby, Henry Taylor, John Ga...",00:10:28.600000,3
4358,Stockholm,1912,4x200,Freestyle,1,Men,GER,"Georg Kunisch, Kurt Bretting, Oscar Schiele, M...",00:10:37.000000,4

In [13]:
backs.dropna()

,Location,Year,Distance (in meters),Stroke,Relay?,Gender,Team,Athlete,Results,Rank
0,Tokyo,2020,100,Backstroke,0,Men,ROC,Evgeny Rylov,51.98,1
1,Tokyo,2020,100,Backstroke,0,Men,ROC,Kliment Kolesnikov,52,2
2,Tokyo,2020,100,Backstroke,0,Men,USA,Ryan Murphy,52.19,3
3,Tokyo,2020,100,Backstroke,0,Men,ITA,Thomas Ceccon,52.3,4
4,Tokyo,2020,100,Backstroke,0,Men,CHN,Jiayu Xu,52.51,4
...,...,...,...,...,...,...,...,...,...,...
4299,Stockholm,1912,100,Backstroke,0,Men,HUN,András Baronyi,00:01:25.200000,4
4300,Stockholm,1912,100,Backstroke,0,Men,GER,Otto Gross,00:01:25.800000,4
4301,Stockholm,1912,100,Backstroke,0,Men,GER,Oscar Schiele,Disqualified,0
4302,Stockholm,1912,100,Backstroke,0,Men,HUN,János Wenk,Disqualified,0
4303,Stockholm,1912,100,Backstroke,0,Men,BEL,Oscar Gregoire,Disqualified,0

In [14]:
new_d=data.replace({'Results':'[A-Za-z]'},'',regex=True)

In [15]:
new_d

,Location,Year,Distance (in meters),Stroke,Relay?,Gender,Team,Athlete,Results,Rank
0,Tokyo,2020,100m,Backstroke,0,Men,ROC,Evgeny Rylov,51.98,1
1,Tokyo,2020,100m,Backstroke,0,Men,ROC,Kliment Kolesnikov,52,2
2,Tokyo,2020,100m,Backstroke,0,Men,USA,Ryan Murphy,52.19,3
3,Tokyo,2020,100m,Backstroke,0,Men,ITA,Thomas Ceccon,52.3,4
4,Tokyo,2020,100m,Backstroke,0,Men,CHN,Jiayu Xu,52.51,4
...,...,...,...,...,...,...,...,...,...,...
4354,Stockholm,1912,4x100,Freestyle,1,Women,SWE,"Greta Carlsson, Vera Thulin, Sonja Johnsson, G...",NaN,5
4355,Stockholm,1912,4x200,Freestyle,1,Men,AUS,"Malcolm Champion, Cecil Healy, Harold H. Hardw...",00:10:11.200000,1
4356,Stockholm,1912,4x200,Freestyle,1,Men,USA,"Duke Paoa Kahanamoku, Harry J. Hebner, Perry M...",00:10:20.200000,2
4357,Stockholm,1912,4x200,Freestyle,1,Men,GBR,"Thomas Sidney Battersby, Henry Taylor, John Ga...",00:10:28.600000,3
4358,Stockholm,1912,4x200,Freestyle,1,Men,GER,"Georg Kunisch, Kurt Bretting, Oscar Schiele, M...",00:10:37.000000,4

In [16]:
type(data['Results'][0])

str

In [17]:
type(new_d['Results'][4357])

str

In [18]:
len(new_d['Results'][4357])

15

In [29]:
time_result=new_d['Results'].apply(lambda x: type(x)==str)

In [30]:
time_result

0        True
1        True
2        True
3        True
4        True
        ...
4354    False
4355     True
4356     True
4357     True
4358     True
Name: Results, Length: 4359, dtype: bool

In [32]:
new_d.dropna()

,Location,Year,Distance (in meters),Stroke,Relay?,Gender,Team,Athlete,Results,Rank
0,Tokyo,2020,100m,Backstroke,0,Men,ROC,Evgeny Rylov,51.98,1
1,Tokyo,2020,100m,Backstroke,0,Men,ROC,Kliment Kolesnikov,52,2
2,Tokyo,2020,100m,Backstroke,0,Men,USA,Ryan Murphy,52.19,3
3,Tokyo,2020,100m,Backstroke,0,Men,ITA,Thomas Ceccon,52.3,4
4,Tokyo,2020,100m,Backstroke,0,Men,CHN,Jiayu Xu,52.51,4
...,...,...,...,...,...,...,...,...,...,...
4353,Stockholm,1912,4x100,Freestyle,1,Women,AUT,"Margarete Adler, Bertha Zahourek, Josephine St...",00:06:17.000000,4
4355,Stockholm,1912,4x200,Freestyle,1,Men,AUS,"Malcolm Champion, Cecil Healy, Harold H. Hardw...",00:10:11.200000,1
4356,Stockholm,1912,4x200,Freestyle,1,Men,USA,"Duke Paoa Kahanamoku, Harry J. Hebner, Perry M...",00:10:20.200000,2
4357,Stockholm,1912,4x200,Freestyle,1,Men,GBR,"Thomas Sidney Battersby, Henry Taylor, John Ga...",00:10:28.600000,3
4358,Stockholm,1912,4x200,Freestyle,1,Men,GER,"Georg Kunisch, Kurt Bretting, Oscar Schiele, M...",00:10:37.000000,4

In [37]:
new_d

,Location,Year,Distance (in meters),Stroke,Relay?,Gender,Team,Athlete,Results,Rank,string,number
0,Tokyo,2020,100m,Backstroke,0,Men,ROC,Evgeny Rylov,51.98,1,51,.98
1,Tokyo,2020,100m,Backstroke,0,Men,ROC,Kliment Kolesnikov,52,2,5,2
2,Tokyo,2020,100m,Backstroke,0,Men,USA,Ryan Murphy,52.19,3,52,.19
3,Tokyo,2020,100m,Backstroke,0,Men,ITA,Thomas Ceccon,52.3,4,52,.3
4,Tokyo,2020,100m,Backstroke,0,Men,CHN,Jiayu Xu,52.51,4,52,.51
...,...,...,...,...,...,...,...,...,...,...,...,...
4354,Stockholm,1912,4x100,Freestyle,1,Women,SWE,"Greta Carlsson, Vera Thulin, Sonja Johnsson, G...",NaN,5,NaN,NaN
4355,Stockholm,1912,4x200,Freestyle,1,Men,AUS,"Malcolm Champion, Cecil Healy, Harold H. Hardw...",00:10:11.200000,1,0,0
4356,Stockholm,1912,4x200,Freestyle,1,Men,USA,"Duke Paoa Kahanamoku, Harry J. Hebner, Perry M...",00:10:20.200000,2,0,0
4357,Stockholm,1912,4x200,Freestyle,1,Men,GBR,"Thomas Sidney Battersby, Henry Taylor, John Ga...",00:10:28.600000,3,0,0
4358,Stockholm,1912,4x200,Freestyle,1,Men,GER,"Georg Kunisch, Kurt Bretting, Oscar Schiele, M...",00:10:37.000000,4,0,0

In [39]:
type(new_d['number'][0])

str

In [42]:
new_d['number'] = pd.to_numeric(new_d['Results'], errors='coerce')

In [43]:
new_d

,Location,Year,Distance (in meters),Stroke,Relay?,Gender,Team,Athlete,Results,Rank,string,number
0,Tokyo,2020,100m,Backstroke,0,Men,ROC,Evgeny Rylov,51.98,1,51,51.98
1,Tokyo,2020,100m,Backstroke,0,Men,ROC,Kliment Kolesnikov,52,2,5,52.00
2,Tokyo,2020,100m,Backstroke,0,Men,USA,Ryan Murphy,52.19,3,52,52.19
3,Tokyo,2020,100m,Backstroke,0,Men,ITA,Thomas Ceccon,52.3,4,52,52.30
4,Tokyo,2020,100m,Backstroke,0,Men,CHN,Jiayu Xu,52.51,4,52,52.51
...,...,...,...,...,...,...,...,...,...,...,...,...
4354,Stockholm,1912,4x100,Freestyle,1,Women,SWE,"Greta Carlsson, Vera Thulin, Sonja Johnsson, G...",NaN,5,NaN,NaN
4355,Stockholm,1912,4x200,Freestyle,1,Men,AUS,"Malcolm Champion, Cecil Healy, Harold H. Hardw...",00:10:11.200000,1,0,NaN
4356,Stockholm,1912,4x200,Freestyle,1,Men,USA,"Duke Paoa Kahanamoku, Harry J. Hebner, Perry M...",00:10:20.200000,2,0,NaN
4357,Stockholm,1912,4x200,Freestyle,1,Men,GBR,"Thomas Sidney Battersby, Henry Taylor, John Ga...",00:10:28.600000,3,0,NaN
4358,Stockholm,1912,4x200,Freestyle,1,Men,GER,"Georg Kunisch, Kurt Bretting, Oscar Schiele, M...",00:10:37.000000,4,0,NaN

In [46]:
nums=new_d.dropna()

In [47]:
nums

,Location,Year,Distance (in meters),Stroke,Relay?,Gender,Team,Athlete,Results,Rank,string,number
0,Tokyo,2020,100m,Backstroke,0,Men,ROC,Evgeny Rylov,51.98,1,51,51.98
1,Tokyo,2020,100m,Backstroke,0,Men,ROC,Kliment Kolesnikov,52,2,5,52.00
2,Tokyo,2020,100m,Backstroke,0,Men,USA,Ryan Murphy,52.19,3,52,52.19
3,Tokyo,2020,100m,Backstroke,0,Men,ITA,Thomas Ceccon,52.3,4,52,52.30
4,Tokyo,2020,100m,Backstroke,0,Men,CHN,Jiayu Xu,52.51,4,52,52.51
...,...,...,...,...,...,...,...,...,...,...,...,...
4019,Angeles,1932,100m,Freestyle,0,Men,JPN,Zenjiro Takahashi,59.200,4,59,59.20
4020,Angeles,1932,100m,Freestyle,0,Men,USA,Raymond Webb Jr. Thompson,59.500,4,59,59.50
4091,Amsterdam,1928,100m,Freestyle,0,Men,USA,Johnny Weissmuller,58.600,4,58,58.60
4092,Amsterdam,1928,100m,Freestyle,0,Men,HUN,Istvan Barany,59.800,4,59,59.80
4174,Paris,1924,100m,Freestyle,0,Men,USA,Johnny Weissmuller,59.000,4,59,59.00

In [49]:
nums.drop(['string','Results'],axis=1)

,Location,Year,Distance (in meters),Stroke,Relay?,Gender,Team,Athlete,Rank,number
0,Tokyo,2020,100m,Backstroke,0,Men,ROC,Evgeny Rylov,1,51.98
1,Tokyo,2020,100m,Backstroke,0,Men,ROC,Kliment Kolesnikov,2,52.00
2,Tokyo,2020,100m,Backstroke,0,Men,USA,Ryan Murphy,3,52.19
3,Tokyo,2020,100m,Backstroke,0,Men,ITA,Thomas Ceccon,4,52.30
4,Tokyo,2020,100m,Backstroke,0,Men,CHN,Jiayu Xu,4,52.51
...,...,...,...,...,...,...,...,...,...,...
4019,Angeles,1932,100m,Freestyle,0,Men,JPN,Zenjiro Takahashi,4,59.20
4020,Angeles,1932,100m,Freestyle,0,Men,USA,Raymond Webb Jr. Thompson,4,59.50
4091,Amsterdam,1928,100m,Freestyle,0,Men,USA,Johnny Weissmuller,4,58.60
4092,Amsterdam,1928,100m,Freestyle,0,Men,HUN,Istvan Barany,4,59.80
4174,Paris,1924,100m,Freestyle,0,Men,USA,Johnny Weissmuller,4,59.00